/* universal selector var */
$universalSelMargin: 0;
$universalSelPadding: 0;
/* body color var */
$bodyBgColorVar:  #5faaf7;
/* regylar uses value */ 
/* color var */
$colorVar: white;
/* position relative */
$Relposition: relative;
/* position absolute */
$AbsolutPosition: absolute;
/* capitalize var */
$CalizValue: capitalize;
/* upper var */
$UpperValue: uppercase;
/* none display var */
$NoneDisplay: none;
/* align center var */
$CenterAlign: center;
/* blue color var  */
$blueColorVar: hwb(187 14% 0%);
/* pointer cursor var */
$pointerCursor: pointer;
/* back button hover var */
$bckBtnHoverColor:  hwb(182 17% 2%);
/* other bg color */
$blueColorVar1: hwb(192 0% 0%);
/* bold text var */
$boldText: bold;
* {
  margin: $universalSelMargin;
  padding: $universalSelPadding;
}

body {
  background-color: $bodyBgColorVar;
  font-family: sans-serif;
}

h1 {
  position: $Relposition;
  left: 11px;
  color: $colorVar;
  text-transform: $UpperValue;
  margin-top: 15px;
  font-weight: bold;
  user-select: $NoneDisplay;
  -webkit-user-select: $NoneDisplay;
}

hr {
  border: 2px solid $colorVar;
  position: $Relposition;
  bottom: 2px;
  user-select: $NoneDisplay;
  -webkit-user-select: $NoneDisplay;

}

p {
  text-align: $CenterAlign;
  color: $colorVar;
  font-size: 18px;
  text-transform: $CalizValue;
  user-select: $NoneDisplay;
  -webkit-user-select: $NoneDisplay;
}

/* setting icon style */
#settings_icon {
  i {
    font-size: 32px;
    position: $Relposition;
    left: 320px;
    bottom: 55px;
    color: $colorVar;
  }
}
#settings_mane {
  h3{
    font-size: 28px;
    display: $NoneDisplay;
    text-align: $CenterAlign;
    color: $colorVar;
    text-transform: $CalizValue;
    text-align: $CenterAlign;
    font-width: $boldText;
  user-select: $NoneDisplay;
  -webkit-user-select: $NoneDisplay;
    position: $AbsolutPosition;
    right: 10px;
    bottom: 650px;
  }
  #settings-manu-hr {
    display: none;
    border: 2px solid $colorVar;
  }
  a {
    display: $NoneDisplay;
    color: $colorVar;
    position: $AbsolutPosition;
    top: 100px;
    left: 10px;
    font-size: 15px;
  user-select: $NoneDisplay;
  -webkit-user-select: $NoneDisplay;
  }
}

/* regular btn width + height var */
$width: 80px;
$height: 40px;
/* back btn */
#back-btn {
  width: $width;
  height: $height;
  background-color: $blueColorVar;
  color: $colorVar;
  border: $NoneDisplay;
  cursor: $pointerCursor;
  display: $NoneDisplay;
  position: $Relposition;
  left: 10px;
  bottom: 25px;
  
}

#back-btn:hover {
  background-color:$bckBtnHoverColor;
}
/* thme width + height var */
$theneWidth: 110px;
/* thene btn */
#theme {
  #dark-theme {
    cursor: $pointerCursor;
    display: $NoneDisplay;
    width: $theneWidth;
    height: $height;
    position: $Relposition;
    top: 140px;
    background-color: $blueColorVar1;
    border: $NoneDisplay;
    color: $colorVar;
    font-size: 18px;
    position: $Relposition;
    left: 11px;
  }
  #light-theme {
    display: $NoneDisplay;
    width: $theneWidth;
    height: $height;
    position: $Relposition;
    top: 140px;
    cursor: $pointerCursor;
    background-color: $blueColorVar1;
    border: $NoneDisplay;
    color: $colorVar;
    font-size: 18px;
    position: $Relposition;
    left: 11px;
  }
}