*{
  margin: 0;
  padding: 0;
  background-color: #5A5A5A;
}

.head {
  width: 100vh;
  height: 150px;
  background-color: #5F606C;
  border: 1px solid #D8DBFF;
}
.head select {
  background-color: #C6CBFF;
  color: black;
  width: 100vh;
  max-width: 150px;
  height: 40px;
  font-size: 18px;
  position: relative;
  left: 10px;
  top: 10px;
}

.mods-stock {
  width: 100vh;
  max-width: 350px ;
  height: 300px;
  background-color: #7B7B7B;
  color: white;
  border: 1px solid white;
  position: relative;
  left: 30px;
}


.mods-stock h1 {
  background: none;
  text-align: center;
  position: relative;
  top: 120px;
  text-transform: capitalize;
}

.mods-stock a {
  color: white;
  text-decoration: none;
  background: none;
  position: relative;
  left: 140px;
  top: 130px;
}