/* universal selector var */
$universalSelMargin: 0;
$universalSelPadding: 0;
/* body color var */
$bodyBgColorVar:  #79b4f0;
/* regylar uses value */ 
$colorVar: white;
$Relposition: relative;
$AbsolutPosition: absolute;
$CalizValue: capitalize;
$UpperValue: uppercase;
$NoneDisplay: none;
$CenterAlign: center;
$blueColorVar: hwb(187 14% 0%);
$pointerCursor: pointer;
$bckBtnHoverColor:  hwb(182 0% 22%);
* {
  margin: $universalSelMargin;
  padding: $universalSelPadding;
}

body {
  background-color: $bodyBgColorVar;
  font-family: sans-serif;
}

h1 {
  position: $Relposition;
  left: 11px;
  color: $colorVar;
  text-transform: $UpperValue;
  margin-top: 15px;
  font-weight: bold;
}

hr {
  border: 1px solid $colorVar;
  position: $Relposition;
  bottom: 10px;
}

p {
  text-align: $CenterAlign;
  color: $colorVar;
  font-size: 18px;
  text-transform: $CalizValue;
}

/* setting icon style */
#settings_icon {
  i {
    font-size: 32px;
    position: $Relposition;
    left: 320px;
    bottom: 50px;
    color: $colorVar;
  }
}

#settings_mane {
  h3 {
    display: $NoneDisplay;
    text-align: $CenterAlign;
    color: $colorVar;
    text-transform: $CalizValue;
  }
  a {
    display: $NoneDisplay;
    color: $colorVar;
    position: $AbsolutPosition;
    left: 10px;
  }
}

#back-btn {
  width: 80px;
  height: 40px;
  background-color: $blueColorVar;
  color: $colorVar;
  border: $NoneDisplay;
  cursor: $pointerCursor;
  display: $NoneDisplay;
  position: $Relposition;
  left: 280px;
  top: 10px;
}

#back-btn:hover {
  background-color: $bckBtnHoverColor;
}